@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.play-button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 8px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.content-border {
    border: 4px solid black;
    border-radius: 12px;
    width: 500px;
    margin: 0 auto;
    padding: 0;
}

.board {
    display: flex;

}

.score {
    display: flex;
    justify-content: center;
    margin: 24px;
    padding: 16px;
    flex-direction: column;
}

p {
    font-size: 24px;
}

.buttons {
    display: flex;
    gap: 12px;
    margin: 12px;
}

.pressed {
    background-color: grey;
    border: 4px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 6px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 8px;
    width: 100px;
}

.buttons button.grey-out {
    background-color: rgb(177, 177, 177);
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 8px;
}

.resetArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-button button {
    background-color: rgb(255, 115, 115);
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 8px;
    width: 100px;
}

.feedback-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback {
    text-align: left;
    
}
